<%- include('./includes/head.ejs') %> 


<%- include('./includes/navigation.ejs') %> 

   <main>
       <h1>ADD FLIGHT</h1>
        <div class="card" style="width: 450px;">
           
            <form action="/add-flight" method="POST">

                <div class="mb-12">
                    <label for="airport" class="form-label">Airport</label>
                    <select class="form-select" name="airport" aria-label="Default select example">
                        <option selected>select airport...</option>
                        <option value="AUS"> AUS</option>
                        <option value="DFW"> DFW</option>
                        <option value="DEN"> DEN</option>
                        <option value="LAX"> LAX</option>
                        <option value="SAN"> SAN</option>
                    </select>
                </div> 

                <div class="mb-12">
                    <label for="airline" class="form-label">Airline</label>
                    <select class="form-select" name="airline" aria-label="Default select example">
                        <option selected>select airline...</option>
                        <option value="America">America</option>
                        <option value="Southwest">Southwest</option>
                        <option value="United">United</option>
                      </select>
                </div> 
                <div class="mb-12">
                    <label for="exampleFormControlInput1" class="form-label"> Flight No.</label>
                    <input type="number" class="form-control" id="exampleFormControlInput1" name="flightNo">
                </div>

                <div class="mb-12">
                    <label for="exampleFormControlInput1" class="form-label"> Departure Date</label>
                    <input type="datetime-local" class="form-control"  name="depart" id="exampleFormControlInput1" value= <%= depart %> >
                </div>
                <button type="submit" class="btn btn-secondary btn-lg" >Add Flight</button>
        </form>
        </div>
   </main>


<%- include('./includes/footer.ejs') %> 